// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Products
.ss-product-item {
  margin-bottom: 1.5rem;
}

.ss-product-price {
  font-size: 2rem;
}

.ss-cart-total {
    color: #ffffff;
}
